@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4">Employee Management System</h1>
        <p class="lead">Efficiently Manage Your Workforce with Ease</p>
    </div>

    <div class="row mt-5">
        <div class="col-md-6 mb-5">
            <div class="card d-flex flex-column h-100">
                <div class="card-body">
                    <h2 class="card-title">Manage Employees</h2>
                    <p class="card-text">Streamline your HR processes by efficiently managing employee information, records, and performance evaluations. Keep track of your workforce with ease.</p>
                    <a href="/Employee" class="btn btn-primary mt-auto">Explore Employees</a>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card d-flex flex-column h-100">
                <div class="card-body">
                    <h2 class="card-title">Monitor Departments</h2>
                    <p class="card-text">Organize your company's departments effortlessly. Assign employees to specific departments, track budgets, and ensure smooth operations.</p>
                    <a href="/Department" class="btn btn-primary mt-auto">Explore Departments</a>
                </div>
            </div>
        </div>
    </div>

</div>

